.contact-pageblock {
    width: 100%;
    height: 100%;
    background: #e8eae9;
    display: flex;
    flex-direction: column;
}

.contact-cover {
    height: 30%;
    
    border: 3px solid green;
}

.cover {
    background: url("../../assets/contact-cover.jpg");
    min-height: 300px;
    position: relative;
}

.cover h1 {
    color: white;
    font-size: 55px;
    position: absolute;
    top: 30%;
    left: 45%;
}

.contactform-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.name-email {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.name-email input {
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.message-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.message-submit input {
    min-height: 70px;
    width: 80%;
    
}

.message-submit button {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0AA593;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    
}

/*
------------------
    RESPONSIVE
------------------
*/

/* Tablettes */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cover {
        max-height: 150px;
        
    }

    .cover h1 {
        left: 38%;
    }

    .name-email {
        flex-wrap: wrap;
        
    }

    .name-email input {
        width: 80%;
        margin-bottom: 0;
    }

    .message-submit {
        margin-top: 25px;
    }

    .message-submit button {
        width: 16%;
    }

}

/* Mobiles */

@media screen and (min-width: 360px) and (max-width: 767px) {

    .cover {
        min-height: 150px;
        
    }

    .cover h1 {
        font-size: 35px;
        top: 20%;
        left: 33%;
    }

    .name-email {
        flex-wrap: wrap;
        
    }

    .name-email input {
        width: 80%;
        margin-bottom: 0;
    }

    .message-submit {
        margin-top: 25px;
    }

    .message-submit button {
        width: 25%;
    }



}