.projects_area {
    width: 100%;
    background: #e8eae9;
    
}

.projects_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.project_card {
    width: 390px;
    height: 235px;
    background: #0aa593;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.project_card img {
    width: 50%;
    object-fit: cover;
}

.project_card_title {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
    top: 75%;
}

