header {
    display: flex;
    justify-content: space-between;
}

.header_title {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.header_title img {
    max-width: 300px;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-size: 25px;
    font-weight: medium;
    text-transform: lowercase;
}



