header {
    display: flex;
    justify-content: space-between;
}

.header_title {
    width: 60%;
    padding: 2%;
}

.header_title img {
    max-width: 300px;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-size: 25px;
    font-weight: medium;
    text-transform: lowercase;
}

/*
------------------
    RESPONSIVE
------------------
*/

/* Tablettes */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .header_title {
        width: 40%;
    }
    
    .header_title img {
        max-width: 200px;
    }

    nav {
        width: 60%;
        
    }

    nav a {
        font-size: 18px;
        text-transform: uppercase;
    }

}

/* Mobiles */

@media screen and (min-width: 360px) and (max-width: 767px) {

    .header_title {
        width: 40%;
    }
    
    .header_title img {
        max-width: 150px;
    }

    nav {
        width: 60%;
        
    }

    nav a {
        font-size: 12px;
        text-transform: uppercase;
    }

}


