/* BLOC PAGE */

.about_container {
    width: 100%;
    display: flex;
}

/* VISUEL GAUCHE */

.about_image {
    width: 40%;
    
}

.about_image img {
    object-fit: cover;
    object-position: center;
    max-height: 1000px;
    
}

/* INFORMATIONS */

.about_info {
    width: 80%;
    background: #e8eae9;
    display: flex;
    flex-wrap: wrap;
    max-height: 1000px;
}

.about_title {
    width: 100%;
    height: 70px;
    font-weight: 800;
    font-size: 65px;
    color: #707070;
    padding-left: 35px;
    padding-top: 30%;
    padding-bottom: 50px;
    margin-left: -325px;
    opacity: 0;
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
}

.about_content {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-bottom: 450px;  
}

/* COLONNE ICONES */

.social_column {
    margin-top: 20px;
    
    
}

.social_icons {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: scaleY(0);
    animation: iconsUnfold 0.3s ease-out forwards;
    animation-delay: 1.5s;
}

.fa-envelope {
    font-size: 25px;
    color: #0AA593;
}

.fa-linkedin {
    font-size: 25px;
    color: #0AA593;
}

.fa-github {
    font-size: 25px;
    color: #0AA593;
}


.avatar img {
    max-width: 100px;
    animation-name: avatarUnfold;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    transform: scaleX(0);
    

    
}

/* TEXTE */

.about_text {
    
    color: #464747;
    font-style: italic;
    width: 70%;
    transform: scaleY(0);
    overflow: hidden;
    animation-name: textUnfold; 
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
}

/* ANIMATION TITRE */

@keyframes slide-right {

    0% {
         margin-left: -325px; 
         opacity: 0;
        }
    100% { 
        margin-left: 0; 
        opacity: 1;
    }
    }

/* ANIMATION TEXTE */

 @keyframes textUnfold {

  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
    
 }


/* ANIMATION AVATAR */

@keyframes avatarUnfold {

    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
      
   }

/* ANIMATION ICONES */

@keyframes iconsUnfold {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/*
------------------
    RESPONSIVE
------------------
*/

/* Tablettes */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .about_container {
        flex-direction: column;
    }

    .about_image {
        width: 100%;
        max-height: 300px;
        height: 100%;
        background: #0AA593;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }

    .social_icons {
        display: none;
    }

    .about_info {
        width: 100%;
        max-height: 550px;
    }

    .about_content {
        width: 90%;
    }

    .about_title {
        padding-top: 4%;
        padding-left: 20px;
    }

}

/* Mobiles */

@media screen and (min-width: 360px) and (max-width: 767px) {

    .about_container {
        flex-direction: column;
    }

    .about_image {
        width: 100%;
        max-height: 250px;
        height: 100%;
        background: #0AA593;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }

    .social_column {
        display: none;
    }

    .about_info {
        width: 100%;
        max-height: 600px;
    }

    .about_content {
        width: 90%;
    }

    .about_title {
        font-size: 50px;
        padding-top: 4%;
        padding-left: 20px;
        padding-bottom: 0;
    }

    .about_text {
        width: 85%;
        font-size: 14px;
    }

}

